<br>
   <div class="community">
	 <h4>A 3-Week Course</h4>
	   <h2>Video courses for veteran entrepreneurs</h2>
	   <p><%= link_to "Join Now", new_user_registration_path, class: 'btn btn-primary' %></p>
   </div>